@model List<Student>;
@{
    ViewData["Title"] = "Student Page";
    @* List<Student> students  = ViewBag.StudentList;
    List<Student> students  = ViewData["StudentList"] as List<Student>; *@

    var students = Model;
}

<div class="text-center">
    <h1 class="display-4">Welcome Student Page</h1>
    <table class="table table-stripped table-hover">
        <thead>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Address</th>
            <th>Department</th>
            <th>
                <a href="/student/add" class="btn btn-primary">Add</a>
            </th>
        </thead>
        <tbody>
            @foreach (var student in students)
            {
                <tr>
                    <td>@student.Id</td>
                    <td>@student.Name</td>
                    <td>@student.Age</td>
                    <td>@student.Address</td>
                    <td>@student.Department.Name</td>
                    <td>
                        <a href="/Student/Edit?studentId=@student.Id" class="btn btn-primary">Edit</a>
                        <a href="/Student/Delete?studentId=@student.Id" class="btn btn-primary">Delete</a>
                    </td>
                </tr>
            }
           
        </tbody>

    </table>
</div>
